*{
    margin: 0px;
    padding: 0px;
    font-family: Bogle, Bogle, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header{
    width: 100%;
    height: 55px;
    background-color: #0072CE; /*Color Azul rey*/
    box-shadow: 0px 0px 3px 0px #000;
    position: fixed;
}

footer{
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #444;
    bottom: 0px;
    color: #fff;
    text-align: center;
    z-index: 10;
}


.txt-footer{
position: relative;
top: 10px;
}

img{
    width: 70px;
}

.title{
    position: absolute;
    left: 10px;
}

.txt-title, .txt-title2{
position: relative;
color: #fff;
font-weight: bold;
bottom: 20px;
}

.userh1{
    position: fixed;
    width: 100%;
    margin: 30px 0px;
    padding: 20px 10px;
    top: 25px;
}

.fixed{
    width: 100%;
    height: 120px;
    position: fixed;
    background-color: #fff;
    z-index: 10;
}

.btn-logout{
    position: absolute;
    width: 100px;
    height: 30px;
    color:#fff;
    right: 30px;
    top: 10px;
    background-color: steelblue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}

.snlogout{
    position: relative;
    top: 5px;   
}

.btn-logout:hover{
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
    background-color: navy;
}

.menu{
    position: fixed;
    width: 240px;
    height: 680px;
    padding: .1px 0px;
    background-color: #222;
    border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -ms-border-radius: 0px 5px 5px 0px;
    -o-border-radius: 0px 5px 5px 0px;
    color: #fff;
    text-align: left;
    z-index: 10;
}

.bar-menu{
    color: #fff;
    margin: 10px 0px;
    padding: 20px 30px;
}

.bar-menu:hover{
    background-color: #0072CE;
    cursor: pointer;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.box{
    position: absolute;
    margin: 0% 280px;
    width: 75%;
    height: auto;
    padding: 30px 0px;
    background-color: #f2f8fd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.msj-h2{
    position:  relative;
    margin: 50px 0px;
    padding: 0px 30px;
}

.cajon{
    display: inline-block;
}

.box-flex{
    position: absolute;
    width: 100%;
    height: 400px;
    top: 130px;
}

a {
    text-decoration: dashed;
}

.mod-tool{
    width: 90%;
    height: 100px;
    margin: 0px 5%;
}

.msj-txt{
    margin: 20px 0px;
    padding: 0px 0px;
}

.txt-generate{
    position: relative;
    top: 10px;
}

.btn-generate{
    position: relative;
    background-color: steelblue;
    float: right;
    margin: 0px 5px;
}

.btn-edit:hover{
    background-color: gold;
}

.btn-generate, .btn-view, .btn-edit{
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    color: #fff;
}


.btn-view{
    position: relative;
    margin: 10px 0px;
    background-color: #76c143;
    float: right;
}

.btn-generate:hover, .btn-view:hover, .btn-edit:hover{
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    cursor: pointer;
    box-shadow: 0px 0px 3px 0px #000;
}

.btn-generate:hover{
    background-color: navy;
}

.btn-view:hover{
    background-color: seagreen;
}

.seleccions{
    width: 250px;
    height: 40px;
    margin: 3px 0px;
    border: none;
    background-color: #0072CE;
    color: #fff;
}

option{
    background-color: #fff;
    color: #000;
}

table{
    margin: 0px -100px;
    padding: 120px 80px;
    text-align: center;
}

.table-data-header{
    background-color: #0072CE;
    color: #fff;
}

th,tr,td{
    width: 300px;
    border: none;
}

.data-row:nth-child(even){
    background-color: #d6eeee;
}

.txt-text{
    position: relative;
    width: 200px;
    height: 30px;
    margin: 5px 10px;
    border: #0072CE 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
}

/*.data-row:hover{
    background-color: yellowgreen;
}

.data-row:active{
    background-color: yellow;
}*/

.btn-edit{
    position: absolute;
    bottom: -60px;
    width: 150px;
    height: 40px;
    background-color: yellowgreen;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.txt-form{
    position: relative;
    left: 50px;
    margin: 10px 10px;
    width: 200px;
    height: 30px;
    display: inline-block;
    text-align: center;
}